<p><%= @user.name %>のページ</p>

<table>
<td><%= image_tag @user.avatar.url if @user.avatar.present? %></td>
</table>

<p>メールアドレス: <%= @user.email %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', pictures_path %>